@font-face {
  font-family: Phorssa;
  src: url(../fonts/Phorssa.ttf) format('truetype');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: HarryPotter;
  src: url(../fonts/HarryPotter.ttf) format('truetype');
  font-weight: normal;
  font-display: swap;
}
